nav {
	background-color: rgb(192, 192, 192);
	  box-shadow: 0px 2px 10px;
	  height: auto;
	  width: 30%;
	  margin: 0 auto;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  margin: 1%;
  padding: 1%;
  overflow: hidden;  
}

li { 
  display: inline;	
  
}


li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 19%;
  font-size: 20px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #111;
}

h1 {
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 3em;
	overflow: break;
	padding: 0px;
	margin: 0px;
}

.aboutHeader {
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 3em;
	overflow: break;
}

h5 {
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	text-align: center;
	font-size: 1em;
	overflow: break;
}


body {
  background-image: url("https://c.wallhere.com/photos/65/8a/sf_sanfrancisco_california_street_city_houses_wallpaper_usa-951748.jpg!d");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
  width: auto;
  background-attachment: fixed;
  background-size: 1900px 1900px;
  color: black;
  font-family: 'ABeeZee', sans-serif;
}


section {
  width: 60%;
  min-width: 30%;
  margin: 1% auto;
  display: block;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
  text-align: center;
}



.buttonbar {
	width: 80px;	
	min-width: 80px;
}


.active-page {
	color: red;
	font-weight: bold;
}

label, span {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
  line-height: 26px;
	font-size: 20px;
	margin: 20px;
	font-weight: bold;
}

.extra-info {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
  line-height: 15px;
	font-size: 17px;
	margin-top: 20px;
	margin-bottom: none;
	font-weight: bold;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

.street {
	width: 40%;
}

textarea {
	justify-content: center;
	display: flex-direction;
	margin-top: 15px;
	width: 60%;
	height: 80px; 
	margin-bottom: none; 
}


#submitbutton, button {
  background-color: rgb(192, 192, 192);
  border: none;
  color: black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  height: auto;
  font-family: 'Quicksand', sans-serif;
}


table, th, td {	
	border: 1px solid #000000;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	font-family: 'Helvetica', sans-serif;
	padding: 5px;
}


th {
	background-color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

form hr {
	width: 15%;

}

footer {
	background-color:rgb(192, 192, 192);
	box-shadow: 0px 2px 10px;
	height: 20px;
	padding: 0px;
	position: fixed;
	bottom: 0px;
    left: 0px;
    right: 0px;	
    margin-bottom: 0px;
	width: 30%;
	margin-left: 35%;
	display: block;	  
	font-family: 'Montserrat', sans-serif;
	font-size: small;
	font-weight: italic, bold;
}	
